
body#main {
    background-image: url("../images/HBSign.jpg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-color: black;
    background-position: center;
    background-attachment: fixed;
}
h1 {
    color: chocolate;
}
p {
    color: white;
}


/******Nav*********/
nav {
    width: 100%;
    background-color: #333;
}

ul {
    width: 80%;
    margin: 0 auto;
    
    
}

ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
}

ul li a {
    text-decoration: none;
    color: white;
}

.toggle {
    width: 100%;
    padding: 15px 15px;
    text-align: right;
    box-sizing: border-box;
    color: white;
    font-size: 25px;
    display: none;
}

.navNames {
    text-align: center;
}

@media only screen and (max-width: 768px){
    .toggle{
        display: block;
    }

    ul {
        width: 100%;
        display: none;
    }
    ul li {
        display: block;
        text-align: center;
    }
    .active {
        display: block;
    }
}